html {
    font-size: 14px;
    line-height: 1.25rem;
    font-family: monospace;
}
body {
    --text-color: #e8c04b;
    --background-color: #352f1d;

    margin: .25rem;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    text-shadow: 0 0 .2em var(--text-color);
}
[data-prompt] {
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: auto 1fr;
}
[data-prompt]::before {
    content: attr(data-prompt);
    padding-right: .25em;
}
#out {
    white-space: pre;
}
#input {
    outline: none;
}
.stderr {
    color: red;
}