@import url('https://fontlibrary.org/face/dejavu-sans-mono');

[data-theme="yukon-gold"] {
    --text-color: #e8c04b;
    --background-color: #352f1d;
    --font-family: 'DejaVuSansMonoBook', monospace;
}

[data-theme="yukon-gold"] *,
[data-theme="yukon-gold"] *::before, 
[data-theme="yukon-gold"] *::after {
    color: var(--text-color);
    text-shadow: 0 0 .2em var(--text-color);
    font-family: var(--font-family);
}

html {
    font-size: 16px;
    line-height: 1.25rem;
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
}

[data-theme="yukon-gold"] button {
    background-color: var(--text-color);
    border: 0 none;
    color: var(--background-color);
    font-size: inherit;
    padding: .5em 1em;
    font-weight: bold;
    text-shadow: none;
}