html {
    font-size: 16px;
    line-height: 1.25rem;
    font-family: monospace;
}
body {
    --text-color: #e8c04b;
    --background-color: #352f1d;

    margin: .25rem;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    text-shadow: 0 0 .2em var(--text-color);
}
#frame {
    --frame-offset: -3rem;

    box-shadow: inset 0 0 .75rem var(--text-color);
    border: 4rem solid #f5f2e5;
    border-radius: 6rem;
    position: fixed;
    top: var(--frame-offset);
    right: var(--frame-offset);
    bottom: var(--frame-offset);
    left: var(--frame-offset);
    padding: 2rem;
    overflow-y: auto;
}
#frame::before {
    content: ' ';
    display: block;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: radial-gradient(ellipse at 75% 25%, rgba(255, 255, 255, 0.12), transparent 50%);
}
[data-prompt] {
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: auto 1fr;
}
[data-prompt]::before {
    content: attr(data-prompt);
    padding-right: 1ex;
}
#out {
    white-space: pre;
    word-break: break-all;
}
#input {
    outline: none;
    /* caret-color: transparent; */
    caret-shape: block;
}
.stderr {
    color: #ff5f5f;
}